*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cadetblue;
}
h1{
    font-size: 20;
    margin: 10mm;
    text-align: center;
    color: black;
    
}
p{
    font-weight: 600;
    text-align: center;
    color: black;
    margin: 5mm;
}
h2{
    margin: 5mm;
    text-align: center;
    font-weight: bold;
    
}
.list{
    margin: 3mm;
    text-align: center;
    font-size: 70;
    color: black;
    
}


